@import "./login/login.scss";
@import "./register/register.scss";
@import "./home/home";
@import "./error/error404.scss";
@import "./room/roomStyles.scss";
@import "./chart/Charts.scss";
@import "./error/error.scss";
@import "./register/registerSuccessStyles.scss";
