.rdt_TableHead * {
  justify-content: center;
  background-color: #e0e2e7;
  color: #000;
  font-size: 15px;
  font-weight: 700;
}
.rdt_TableCell {
  justify-content: center;
  width: 100px;
  font-size: 14px;
}
