.dashboard-card {
  background-color: rgb(224, 226, 231);
  border-radius: 2px;
  display: inline-flex;
  padding: 30px;
  width: calc(100% / 4 - 22px);
  margin-left: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 3px #c0bdb6;
  margin-right: 2px;
  opacity: 0.8;
  padding: 20px;

  .title {
    color: #2f2f2e;
    font-size: 18px;
    font-weight: 600;
    //text-shadow: 1px 1px #81590d;
  }

  &:first-child {
    margin-left: 10px;
  }

  .cardTitle {
    align-items: center;
  }
}